<div class="container">
      <br><br>
      <label>Enter email of voter to promote:</label>
      <input type="email" ng-model="user.email">
      <button type="button" class="btn btn-sm" ng-click="search()">Search</button>

      <h3>Found: {{voter.firstName}} {{voter.lastName}}</h3>
      <button type="button" class="btn btn-sm" ng-click="makeAdmin()" ng-disabled="voterNotFound">Make {{voter.firstName}} an admin</button>
      <p ng-show="adminSuccess">Admin made!</p>
      <p ng-show="voterNotFound">Voter not found</p>
</div>
