<div class="container">
  <br><br>
  <label>Enter email of voter to promote:</label>
  <input type="email" ng-model="user.email">
  <button type="button" class="btn btn-sm" ng-click="search()">Search</button>
  <label for="selectPrecinct">Select Precinct:</label>
  <select name="selectPrecinct" ng-model="user.precinct">
    <option ng-repeat="(key,value) in precincts" ng-value="key">{{key}}</option>
  </select>
  <h3>Selected Precinct: {{user.precinct}}</h3>
  <h3>Found: {{voter.firstName}} {{voter.lastName}}</h3>
  <button type="button" class="btn btn-sm" ng-click="makeManager()" ng-disabled="voterNotFound">Make {{voter.firstName}} a manager</button>
  <p ng-show="managerSuccess">Manager made!</p>
  <p ng-show="voterNotFound">Voter not found</p>
</div>
