<div class="container">


        <label>Enter Voter ID</label>
        <input type="text" ng-model="user.voterID"><h2>{{user.voterID}}</h2>
        <button type="button" class="btn btn-sm" ng-click="findUser()">Find Me!</button>
        <p>{{returnMessage}}</p>


        <form class="form-vote" name="regForm" ng-show="zipcodeAllowed && !hasVoted">
          <!-- remove the below mock data once we get dynamic data -->

          <div class="electionBox">
            <div class="electionLabel"><h1>{{election.Name}}</h1></div>
            <div class="container">
              <div class="row">
                <div class="candidate candidate1 col-md-6">
                  <input type="radio" ng-model="choice.candidate" value="{{cand1.name}}" class="voting-radio-button"> {{cand1.name}} - {{cand1.party}}</input>
                </div>
                <div class="candidate candidate2 col-md-6">
                  <input type="radio" ng-model="choice.candidate" value="{{cand2.name}}" class="voting-radio-button"> {{cand2.name}} - {{cand2.party}}</input>
                </div>
              </div>
            </div>
          </div>
          <!-- TODO: add list of elections for specific user -->
          <button type="button" id="Votebutton" ng-click="vote()" class="btn btn-lg btn-primary btn-block">Submit Vote</button>
        </form>
</div>
