<div class="container">
        <form class="form-vote" name="regForm">
          <!-- remove the below mock data once we get dynamic data -->
          <div class="electionBox">
            <div class="electionLabel">United States Primary Election</div>
            <div class="container">
              <div class="row">
                <div class="candidate candidate1 col-md-6">
                  <img ng-src="/imgs/Trump.jpeg" class="img-responsive candidate-pic" alt="Trump">
                  <input type="radio" name="candidate" value="Trump" class="voting-radio-button"> Donald Trump - Republican</input>
                </div>
                <div class="candidate candidate2 col-md-6">
                  <img ng-src="/imgs/Clinton.jpeg" class="img-responsive candidate-pic" alt="Clinton">
                  <input type="radio" name="candidate" value="Clinton" class="voting-radio-button"> Hillary Clinton - Democrat</input>
                </div>
              </div>
            </div>
          </div>
          <!-- TODO: add list of elections for specific user -->
          <button type="button" id="Votebutton" class="btn btn-lg btn-primary btn-block">Submit Vote</button>
        </form>
</div>
