<div style="margin-left:10%;margin-right:10%;">
  <h1 style="text-center;">Manager Dashboard</h1>
  <div class="row" ng-repeat="election in elections" style="background-color: rgba(100,100,100,0.5);margin:20px;padding:20px;">
    <h3>{{election.electionName}}</h3><h4> -- {{election.raceName}} -- {{election.state}}{{election.precinct}}</h4><hr style="border-color:#000;height:2px;">
    <h4>{{election.candidate1}} vs. {{election.candidate2}}</h4>
    <p>{{election.description}}</h4>
  </div>
</div>
